<?xml version="1.0"?>
<configuration>
<configSections>
</configSections>
<connectionStrings>
    <add name="terms_prepaid.Properties.Settings.lantaConnectionString" connectionString="Data Source=srvsql2;Initial Catalog=lanta;Integrated Security=True" providerName="System.Data.SqlClient"/>
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Service1Soap"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://online.mcruises.ru/WebGetInfoTest/service1.asmx" binding="basicHttpBinding" bindingConfiguration="Service1Soap" contract="WebGetInfo.Service1Soap" name="Service1Soap"/>
        </client>
    </system.serviceModel>
</configuration>
