<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Clients.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Clients.Properties.Settings.lantaConnectionString1"
            connectionString="Data Source=SRVSQL1;Initial Catalog=lanta;Integrated Security=True" />
    </connectionStrings>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <Clients.Properties.Settings>
            <setting name="Clients_ru_lantatur_lanta_EncryptionService" serializeAs="String">
                <value>http://online.express-voyage.com.ua/EncryptionService/EncryptionService.asmx</value>
            </setting>
        </Clients.Properties.Settings>
    </applicationSettings>
</configuration>