<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Path" value="C:\Master\"/>
    <add key="ReportPath" value="C:\Master\report\"/>
    <add key="ShablonPath" value="C:\Master\Shablon\"/>
    <add key="Ftp" value="mcruises.ru"/>
    <add key="url" value="http://online.mcruises.ru/EncryptionService/EncryptionService.asmx"/>
    <add key="instalationTitleURL" value="http://bit.mcruises.ru/installations/installations-titlelist-update.php"/>
    <add key="instalationURL" value="http://bit.mcruises.ru/installations/"/>
    <add key="flightURL" value="http://bit.dvp.mcruises.ru/search/avia/"/>
  </appSettings>
  <EncryptionService>
    <add name="url" value="http://online.mcruises.ru/EncryptionService/EncryptionService.asmx"/>
  </EncryptionService>
  <connectionStrings>
    <add name="total_services" connectionString = "Data Source=192.168.10.4;Initial Catalog=total_services;Persist Security Info=True;User ID={0}; pwd={1}; Timeout=30;"/>
    <add name="total_services_test" connectionString = "Data Source=192.168.10.4;Initial Catalog=ts2;Persist Security Info=True;User ID={0}; pwd={1}; Timeout=30;"/>
    <add name="mk" connectionString = "Data Source=192.168.10.4;Initial Catalog=lanta;Persist Security Info=True;User ID={0}; pwd={1}; Timeout=30;"/>
    <add name="test" connectionString = "Data Source=192.168.10.4;Initial Catalog=test;Persist Security Info=True;User ID={0}; pwd={1}; Timeout=30;"/>
    <add name="lanta" connectionString = "Data Source=192.168.10.4;Initial Catalog=lanta;Persist Security Info=True;User ID={0}; pwd={1}; Timeout=30;"/>
    
  </connectionStrings>
  
</configuration>