<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Awesomium.Windows.Forms.Unofficial" version="1.7.5.0" targetFramework="net40" />
  <package id="CefSharp.Common" version="39.0.0-CI999" targetFramework="net35" />
  <package id="CefSharp.WinForms" version="39.0.0-CI999" targetFramework="net35" />
</packages>