<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DocumentServices.Properties.Settings.lantaConnectionString"
            connectionString="Data Source=srvsql2;Initial Catalog=lanta;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DocumentServices.Properties.Settings.testConnectionString"
            connectionString="Data Source=srvsql2;Initial Catalog=test;User ID=sa;Password=Lakyab779"
            providerName="System.Data.SqlClient" />
        <add name="DocumentServices.Properties.Settings.lantaConnectionString1"
            connectionString="Data Source=srvsql2;Initial Catalog=lanta;Persist Security Info=True;User ID=sa;Password=Lakyab779"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>